<header>
    <div class="row">
        <div class="logo">
            <a href="~/">
                <span class="logo-text">Blastopia</span>
            </a>
        </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation">

                @{
                    var currentAction = ViewContext.RouteData.Values["action"].ToString();
                }

                <li class="has-children">
                    <a href="#" title="">THÔNG TIN TRÒ CHƠI</a>
                    <ul class="sub-menu">
                        @if (currentAction == "Index")
                        {
                            <li><a class="smoothscroll" href="#intro" title="">Trang chủ</a></li>
                            <li><a class="smoothscroll" href="#process" title="">Tổng quan</a></li>
                            <li><a class="smoothscroll" href="#features" title="">Tính năng</a></li>
                            <li><a class="smoothscroll" href="#pricing" title="">Chế độ chơi</a></li>
                            <li><a class="smoothscroll" href="#faq" title="">Tin tức</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "Home")#intro" title="">Trang chủ</a></li>
                            <li><a href="@Url.Action("Index", "Home")#process" title="">Tổng quan</a></li>
                            <li><a href="@Url.Action("Index", "Home")#features" title="">Tính năng</a></li>
                            <li><a href="@Url.Action("Index", "Home")#pricing" title="">Chế độ chơi</a></li>
                            <li><a href="@Url.Action("Index", "Home")#faq" title="">Tin tức</a></li>
                        }
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#" title="">TỔNG QUAN</a>
                    <ul class="sub-menu">
                        <li><a href="@Url.Action("Story", "Home")" title="">Cốt truyện</a></li>
                        <li><a href="@Url.Action("Collection", "Home")" title="">Bộ Sưu Tập</a></li>
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#" title="">HỖ TRỢ</a>
                    <ul class="sub-menu">
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScKLtGunYyhYQe4SWolVEiS-k2irJQwT8gwAPG0n2dsmtdc9w/viewform" target="_blank" title="">Hỗ trợ</a></li>
                        <li><a href="@Url.Action("Community", "Home")" title="">Tiêu chuẩn cộng đồng</a></li>
                        <li><a href="@Url.Action("Terms", "Home")" title="">Điều khoản sử dụng</a></li>
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#" title="">Mạng xã hội</a>
                    <ul class="sub-menu">
                        <li><a href="https://facebook.com" target="_blank" title="">Facebook</a></li>
                        <li><a href="https://www.tiktok.com/@@blastopia.dev?is_from_webapp=1&sender_device=pc" target="_blank" title="">Tiktok</a></li>
                    </ul>
                </li>

                <li class="highlight with-sep custom-play-button">
                    @if (currentAction == "Index")
                    {
                        <a class="smoothscroll" href="#cta" title="">CHƠI NGAY</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Home")#cta" title="">CHƠI NGAY</a>
                    }
                </li>
            </ul>
        </nav>

        <a class="menu-toggle" href="#"><span>Menu</span></a>
    </div>
</header>